.container {
  width: 877px;
  height: 873px;
  padding-left: 71px;
  padding-right: 71px;
  padding-top: 61px;
  border-radius: 20px;
  background: #ffe5ec;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.education {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.educationtext {
  color: #000;
  text-align: center;
  font-family: Kantumruy;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profileicon {
  width: 44px;
  height: 44px;
}

.inputcontainer {
  margin-top: 100px;
}
.inputcontainer label {
  display: block;
  color: #000;
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.inputcontainer input {
  width: 352px;
  height: 56px;
  border-radius: 10px;
  background: #d9d9d9;
  border: none;
  margin-top: 18px;
  margin-bottom: 27px;
}

.btncontainer {
  display: flex;
  justify-content: end;
}
.changebtn {
  width: 171px;
  height: 42px;
  border-radius: 10px;
  background: #7435de;
  color: #fff;
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: none;
  }

  .education {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .educationtext {
    font-size: 13px;
  }

  .profileicon {
    width: 20px;
    height: 20px;
  }

  .inputcontainer {
    margin-top: 50px;
  }

  .inputcontainer label {
    font-size: 13px;
  }

  .inputcontainer input {
    width: 309px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 18px;
  }

  .btncontainer {
    display: flex;
    justify-content: center;
  }

  .changebtn {
    width: 90px;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    margin-top: 50px;
  }
}
