.container {
  width: 877px;
  height: 873px;
  border-radius: 20px;
  background: #ffe5ec;
  padding-left: 71px;
  padding-right: 71px;
  padding-top: 61px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.additionaltext {
  color: #000;
  text-align: center;
  font-family: Kantumruy;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profileicon {
  width: 44px;
  height: 44px;
}

.inputcontainer {
  margin-top: 100px;
}

.formtop {
  display: flex;
  gap: 31px;
}

.formtop > div label {
  display: block;
  color: #000;
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.formtop > div input {
  width: 352px;
  height: 56px;
  border-radius: 10px;
  background: #d9d9d9;
  border: none;
  margin-top: 18px;
}

.formmiddle {
  display: flex;
  gap: 31px;
}

.formmiddle > div label {
  display: block;
  color: #000;
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 27px;
}

.formmiddle > div input {
  width: 352px;
  height: 56px;
  border-radius: 10px;
  background: #d9d9d9;
  border: none;
  margin-top: 18px;
}

.btncontainer {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.changebtn {
  width: 171px;
  height: 42px;
  border-radius: 10px;
  background: #7435de;
  color: #fff;
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    box-shadow: none;
  }

  .additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .additionaltext {
    color: #000;
    text-align: center;
    font-family: Kantumruy;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .profileicon {
    width: 20px;
    height: 20px;
  }

  .inputcontainer {
    margin-top: 50px;
  }

  .formtop {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .formtop > div label {
    font-size: 12px;
  }

  .formtop > div input {
    width: 309px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 18px;
  }

  .formmiddle {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .formmiddle > div label {
    font-size: 12px;
    margin-top: 15px;
  }

  .formmiddle > div input {
    width: 309px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
  }

  .btncontainer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .changebtn {
    width: 90px;
    height: 25px;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
